form{
    .error-validacion{
        font-size: 13px;
        color: transparent;
        transition: all 0.2s;
        height: 20px;

    }
    .error-validacion.activo{
        color: red;
        height: 40px;

    }

}
.btn-volver{
    background-color: rgb(255, 200, 0);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px 7px;
}
table.table-list .thumbnail{
    object-fit: cover;
    object-position: center;
    width: 45px;
    height: 45px;
}