form{
    .error-validacion{
        font-size: 13px;
        color: transparent;
        transition: all 0.2s;
        height: 20px;

    }
    .error-validacion.activo{
        color: red;
        height: 40px;

    }

}