<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        <a href="index.html" class="app-brand-link">
        <img src="/assets/img/logo.jpg" class="w-100" alt="">
      </a>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item">
        <a href="index.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Landing</span>
      </li>
      <li class="menu-item <% if(tab == "gestion"){%> active open <%}%>  ">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Account Settings">Gestion</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item <% if(title == "vehiculos"){%> active <%}%> ">
            <a href="/vehiculos/" class="menu-link ">
              <div data-i18n="Account">Vehiculos</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="eventos.html" class="menu-link">
              <div data-i18n="Account">Eventos</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="reservas.html" class="menu-link">
              <div data-i18n="Notifications">Reservas</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="usuarios.html" class="menu-link">
              <div data-i18n="Connections">Usuarios</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item <% if(tab == "usuarios"){%> active open <%}%> ">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Account Settings">Usuarios</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item <% if(title == "mi_cuenta"){%> active <%}%> ">
            <a href="/usuarios/mi_cuenta" class="menu-link">
              <div data-i18n="Account">Mi cuenta</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="datos_de_pago.html" class="menu-link">
              <div data-i18n="Account">Datos de pago</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ordenes.html" class="menu-link">
              <div data-i18n="Notifications">Mis ordenes</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item <% if(tab == "servicios"){%> active open <%}%> ">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Account Settings">Servicios</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item <% if(title == "alquiler"){%> active <%}%> ">
            <a href="/vehiculos/lista_vehiculos" class="menu-link">
              <div data-i18n="Account">Lista de vehiculos</div>
            </a>
            <a href="/vehiculos/alquiler" class="menu-link">
              <div data-i18n="Account">Alquiler de vehiculos</div>
            </a>
          </li>
          <!--<li class="menu-item">
            <a href="pages-account-settings-notifications.html" class="menu-link">
              <div data-i18n="Notifications">Contratacion de traslados</div>
            </a>
          </li>-->
        </ul>
      </li>


    </ul>
  </aside>